Emacs.FontBackend: xft
Emacs.font: Ubuntu Mono-12
Emacs.ToolBar: off
Emacs.MenuBar: off
Emacs.verticalScrollBars: off
Emacs.background: #3f3f3f

Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: true
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
